@page "/"

<AuthorizeView>
    <Authorized Context="AuthenticationState">
        <h1>Start</h1>
        <h2>Welcome to the Authentication World!</h2>
    </Authorized>
    <NotAuthorized>
        <h2>Please login first.</h2>
    </NotAuthorized>
</AuthorizeView>